/* Programs & Events Section */
.programs-events {
  width: 100%;
  padding: 50px 20px;

  .heading {
    text-align: left;
    margin-bottom: 40px;
  }

  .sub-title {
    color: rgba(11, 131, 118, 1);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(232, 255, 246, 1);
    letter-spacing: 1px;
    width: 15%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    @media only screen and (max-width: 768px) {
      width: 50%;
    }
  }

  .main-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2e3a59;
    margin-top: 10px;
    max-width: 30%;
    @media only screen and (max-width: 768px) {
      max-width: 100%;
    }
  }

  .programs-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  .program-card {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #1d3340;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;
  }

  .program-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    // filter: brightness(60%);
  }

  .play-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 10px;
  }

  .play-icon img {
    width: 20px;
    height: 20px;
  }

  .program-description {
    padding: 20px;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
  }
}
