.testimonial-slider {
  margin-top: 10rem;
  //   padding-left: 5rem;
  //   padding-right: 5rem;
  padding: 0 14rem;
  @media screen and (max-width: 600px) {
    padding: 0 2rem;
    overflow: hidden;
  }

  .test-top {
    display: flex;
    justify-content: space-between;
    // padding: 0 17rem;
    @media screen and (max-width: 600px) {
      padding: 0rem 2rem;
    }
  }
  .test-header {
    font-weight: bold;
    font-size: 2.5rem !important;
    line-height: 4rem;
    @media screen and (max-width: 600px) {
      margin-left: 0rem !important;
    }
  }
  .test-p {
    color: #7a7a7a;
    margin-bottom: 30px;
    margin-top: 2rem;
    @media screen and (max-width: 600px) {
      margin-top: 1rem;
      margin-left: 0rem !important;
    }
  }
  .testimonials-container {
    // padding: 0 17rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    @media screen and (max-width: 600px) {
      padding: 0;
      display: -webkit-inline-box;
      overflow-x: scroll;
    }
  }
  .testimonial {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 35%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    // margin: 10px;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .testimonial .icon {
    color: #4285f4;
    margin-bottom: 15px;
  }
  .testimonial h4 {
    color: #333;
    font-size: 18px;
    margin-bottom: 3rem;
  }
  .testimonial p {
    color: #555;
    line-height: 2.5rem;
  }
  .p2 {
    margin-top: 3rem;
  }
  .navigation {
    margin-top: 20px;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  .navigation button {
    background: none;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 5rem;
    height: 5rem;
    margin: 5px;
    cursor: pointer;
  }
  .next-btn {
    width: 0.7rem;
  }
}
