.hero-container-wrapper {
  width: 100%;

  .hero-container-contents {
    padding: 0 8rem;
    @media screen and (max-width: 600px) {
      padding: 0 2rem;
    }
  }

  .hero-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .RAVEN-ORANGE {
    color: rgb(230, 151, 4);
  }

  .hero-texts > h1 {
    font-size: 5.4rem;
    text-align: center;
    line-height: 6rem;
    margin-bottom: 2rem;
    margin-top: 15rem;
    color: rgba(11, 131, 118, 1);
    @media screen and (max-width: 600px) {
      font-size: 4rem;
      line-height: 5rem;
      margin-top: 15rem;
    }
  }

  .hero-texts > p {
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
  }

  .card-section {
    display: flex;
    justify-content: center;
    // gap: 2rem;
    padding: 5rem;
    margin-top: 2rem;
    @media screen and (max-width: 600px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0rem;
    }
  }

  .card {
    flex: 1;
    max-width: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    box-shadow: none !important;
  }

  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .metrics-section {
    display: flex;
    align-items: center;
    padding: 0 6rem 0rem;
    justify-content: center;
    gap: 20rem;
    margin-top: 10rem;
    @media screen and (max-width: 600px) {
      display: block;
      padding: 0 2rem;
      margin-top: 8rem;
    }
  }

  .metrics-title h2 {
    font-size: 3rem !important;
    font-weight: bold;
    line-height: 1.2;
    color: #000;
    margin-right: 20px;
  }

  .metrics-cards {
    display: flex;
    align-items: center;
    gap: 10rem;
    @media screen and (max-width: 600px) {
      display: block;
    }
  }

  .metric-card {
    display: flex;
    align-items: center;
    gap: 10px;
    @media screen and (max-width: 600px) {
      margin: 4rem 0rem 4rem;
    }
  }

  .icon-container {
    width: 7rem;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .metric-info h3 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #002c2b;
  }

  .metric-info p {
    margin: 0;
    font-size: 1.2rem;
    color: #00796b;
  }
}
