.career-wrapper-section {
  padding: 0 14rem;
  margin-top: 15rem;
  //   position: relative;
  @media only screen and (max-width: 768px) {
    padding: 0 2rem;
    // text-align: center;
    // margin-top: 10rem;
  }

  .career-flx {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 768px) {
      //   padding: 0 2rem;
      //   text-align: center;
      display: block;
    }
  }

  .hero {
    @media only screen and (max-width: 768px) {
      //   padding: 0 2rem;
      text-align: center;
    }
    .text-1 {
      color: rgba(234, 135, 45, 1);
      background-color: rgba(255, 246, 237, 1);
      width: 30%;
      display: flex;
      border-radius: 2rem;
      padding: 1rem;
      font-size: 1.1rem;
      justify-content: center;
      margin-bottom: 2rem;
      @media only screen and (max-width: 768px) {
        //   padding: 0 2rem;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .main-career-text {
      font-size: 4rem;
      margin-bottom: 1rem;
      color: rgba(11, 131, 118, 1);
      @media only screen and (max-width: 768px) {
        //   padding: 0 2rem;
        font-size: 3rem;
      }
    }
    .text-2 {
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin-bottom: 2rem;
      @media only screen and (max-width: 768px) {
        //   padding: 0 2rem;
        font-size: 1.4rem;
      }
    }

    .view-open-roles {
      padding: 1.6rem;
      border-radius: 1rem;
      border: none;
      background-color: rgba(1, 67, 69, 1);
      color: white;
    }
  }

  /* src/components/JobListings.css */
  .job-listings {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 5rem;
    position: relative;
    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem !important;
      margin-top: 30rem;
    }
  }

  .job-item {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    width: 70%;
  }

  .job-item-0 {
    background-color: white; /* Light blue */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    transform: rotate(5deg); /* Initial rotation */
    margin-left: 10rem;
    margin-bottom: 3rem;
    @media only screen and (max-width: 768px) {
      //   padding: 0 2rem;
      transform: none;
      margin-left: 0rem;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
  .job-item-0:hover {
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
  }

  .job-item-1 {
    background-color: white; /* Light blue */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    transform: rotate(-5deg); /* Initial rotation */
    margin-bottom: 3rem;
    @media only screen and (max-width: 768px) {
      //   padding: 0 2rem;
      transform: none;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
  .job-item-1:hover {
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
  }

  .job-item-2 {
    background-color: white; /* Light blue */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin-left: 10rem;
    @media only screen and (max-width: 768px) {
      //   padding: 0 2rem;
      margin-left: 0rem;
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  .job-item p {
    margin-bottom: 1rem;
  }

  .job-item .status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(232, 255, 246, 1);
    color: rgba(26, 206, 55, 1);
    padding: 5px 10px;
    border-radius: 20px;
  }

  .job-item .company {
    position: absolute;
    top: 4rem;
    right: 10px;
    // background-color: rgba(232, 255, 246, 1);
    // color: rgba(26, 206, 55, 1);
    padding: 5px 10px;
    border-radius: 20px;
  }

  .job-item .job {
    position: absolute;
    top: 4rem;
    right: 10px;
    // background-color: #00c000;
    color: rgba(11, 131, 118, 1);
    padding: 5px 10px;
    border-radius: 20px;
  }

  .teamsecond2 {
    width: 100%;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .teamsecond {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .profile-card-1 {
    position: absolute;
    top: 0%;
    right: 16%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 12%;
    border-radius: 0 0 11rem 11rem;
    background-color: rgba(249, 231, 213, 0.811);
    animation: slideInFromtop 2s ease-out;
    @media only screen and (max-width: 768px) {
      //   padding: 0 2rem;
      top: 50%;
      left: 3rem;
      border-radius: 11rem 11rem 11rem 11rem;
      width: 25%;
      padding: 1rem;
    }
  }
  .profile-card-0 {
    position: absolute;
    display: flex;
    flex-direction: column;
    // background-image: url("../../assets/Group\ 8712.png");
    gap: 1rem;
    right: 35%;
    background-color: rgba(232, 255, 246, 1);
    // padding: 2.5rem;
    border-radius: 10rem;
    width: 12%;
    animation: flipAndRotate 1s ease-out; // height: 50%;
    @media only screen and (max-width: 768px) {
      //   padding: 0 2rem;
      top: 50%;
      left: 18rem;
      width: 23%;
      //   left: 0;
    }
  }
  .member {
    border-radius: 100%;
    @media only screen and (max-width: 768px) {
      margin-top: 6rem;
    }
  }
  .member1 {
    border-radius: 0 0 4rem 20rem;
    width: 60%;
    padding-top: 25rem;
    position: relative;
    left: 6rem;
  }

  .profile-card-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    // background-image: url("../../assets/Group\ 8712.png");
    gap: 1rem;
    background-color: rgba(233, 245, 255, 1);
    // padding: 2.5rem;
    border-radius: 50rem 0 4rem 50rem;
    right: 0;
    width: 10%;
    animation: slideInFromRight 3s ease-out;
    // height: 50%;
    @media only screen and (max-width: 768px) {
      //   padding: 0 2rem;
      //   top: 45%;
      //   left: 0;
      display: none;
    }
  }
  .profile-card-3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    // background-image: url("../../assets/Group\ 8712.png");
    gap: 8rem;
    background-color: rgba(240, 238, 255, 1);
    border-radius: 10rem;
    top: 55%;
    // margin-top: 3rem;
    right: 16%;
    width: 12%;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    animation: slideInFromBottom 4s ease-out;
    @media only screen and (max-width: 768px) {
      //   padding: 0 2rem;
      top: 50%;
      //   left: 0;
      padding: 2rem;
      left: 32rem;
      gap: 6rem;
      width: 25%;
      margin-top: 0rem;
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%); /* Move from right */
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromtop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Add flip rotation when loading */
  @keyframes flipAndRotate {
    0% {
      transform: rotateY(100deg) rotateZ(0deg); /* Flip & rotate */
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg) rotateZ(0deg);
      opacity: 1;
    }
  }
}
