.bg-color {
  background: linear-gradient(180deg, #014345 17.09%, #012223 86.84%);
  padding-top: 14rem;
  padding-bottom: 14rem;
  margin-top: 14rem;
  @media screen and (max-width: 600px) {
  }

  .app-showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #064749cf;
    height: 46rem;
    border-radius: 2rem;
    padding-left: 14rem;
    padding-right: 14rem;
    margin-right: 18rem;
    margin-left: 18rem;

    @media screen and (max-width: 600px) {
      display: block;
      height: 52rem;
      padding: 3rem 4rem;
      margin-right: 0rem;
      margin-left: 0rem;
    }
    @media screen and (max-width: 360px) {
      padding: 3rem 3rem;
      height: 55rem;
    }

    .showcase-left {
      flex: 1;
    }
    .showcase-left h3 {
      font-size: 2.3rem;
      line-height: 3rem;
      margin-bottom: 3rem;
      color: #f6ebeb;
    }
    .showcase-slogan {
      font-size: 1, 4rem;
      color: #4bdbc4;
      margin-bottom: 10rem;
      @media screen and (max-width: 600px) {
        margin-bottom: 4rem;
      }
    }
    .app-store-buttons {
      display: flex;
      gap: 20px;
      @media only screen and (max-width: 768px) {
        gap: 1rem;
      }
    }
    .store-button {
      width: 150px;
      cursor: pointer;
    }
    .showcase-right {
      padding-right: 5rem;
      @media screen and (max-width: 600px) {
        margin-top: 3rem;
      }
      @media screen and (max-width: 360px) {
        margin-left: 2rem;
      }
    }
    .phone-image {
      width: 25rem;
      height: auto;
    }
    .iphone1 {
      position: relative;
      top: 7rem;
      // right: 10rem;
      @media screen and (max-width: 600px) {
        height: 17rem;
      }
    }
    .iphone2 {
      position: absolute;
      right: 20rem;
      @media screen and (max-width: 600px) {
        right: 5rem;
        height: 24rem;
      }
    }
  }
}
